

<% comedians.each do |comedian| %>
<ul>
  <li><%= comedian.name %></li>
  <li><%= comedian.age %></li>
  <li><%= comedian.hometown %></li>
  <% if comedian.specials %>
    <li><%= comedian.specials %></li>
  <%end%>
</ul>
<%end%>
