
    <div class='new-menu'>
      <div class="title"><h1>New Comedian</h1></div>

      <form class="new-comedian" action='/comedians' method="POST">
        <p>Name: <input id="form-name" class="field" type="text" name="comedian[name]" placeholder="Name"></p>
        <p>Age: <input  id="form-age" class="field" type="text" name="comedian[age]"  placeholder="Age"></p>
        <p>City: <input id="form-hometown" class="field" type="text" name="comedian[hometown]" placeholder="Hometown"></p>

        <input id="new-comedian" type="submit" value="Create Comedian">

      </form>
    </div>
