

<div class='new-menu'>
  <div class="title"><h1>New Comedian</h1></div>

  <form class="new-comedian">
    <p>Name: <input class="field" type="text" name="comedian[name]" placeholder="Name"></p>
    <p>Age: <input  class="field" type="text" name="comedian[age]"  placeholder="Age"></p>
    <p>City: <input class="field" type="text" name="comedian[city]" placeholder="City"></p>

    <input class="button" type="submit" value="Create Comedian">

  </form>
</div>
