

<div class='main-menu'>
  <h1>Welcome to our featured Comedians</h1>
  <h2><a href="/comedians">See all Comedians</a></h2>
  <span>Search:
    <form class="search-bar">
      <input type="text" name="name" placeholder="Search Name">
      <input type="submit" value="Go">
    </form>
  </span>
</div>
